[submodule "botapp"]
	path = botapp
	url = ../botapp.git

[submodule "botserver"]
	path = botserver
	url = ../BotServer.git

[submodule "botlib"]
	path = botlib
	url = ../botlib.git

[submodule "botui"]
	path = botui
	url = ../botui.git

[submodule "botbook"]
	path = botbook
	url = ../botbook.git

[submodule "bottest"]
	path = bottest
	url = ../bottest.git

[submodule "botdevice"]
	path = botdevice
	url = ../botdevice.git

[submodule "botmodels"]
	path = botmodels
	url = ../botmodels.git

[submodule "botplugin"]
	path = botplugin
	url = ../botplugin.git

[submodule "bottemplates"]
	path = bottemplates
	url = ../bottemplates.git

[submodule ".github"]
	path = .github
	url = ../.github.git
